.My-Cv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/Sprinkle.svg) no-repeat center center;
    background-size: cover;
}

.My-Cv .btn-style {
    padding: 20px;
}

.My-Cv .btn-style p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.My-Cv .Hi {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.My-Cv .btn-style .btn {
    position: relative;
    padding: 15PX 30PX;
    width: 160px;
    height: 50px;
    margin: 20px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.6);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.4s;
}
@media (max-width : 768px) {
    .My-Cv .btn-style .btn {
        width: 130px;
        font-size: 14px;
    }
    .My-Cv .btn-style p{
        font-size: 15px;
    }
}

.My-Cv .btn-style .btn:hover:after {
    width: 100%;
}

.My-Cv .btn-style .btn p {
    margin: 0;
}

.My-Cv .btn-style .btn p.cv-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    line-height: 50px;
    border-radius: 8px;
}

.My-Cv .btn-style .btn:hover p.cv-text {
    left: 160px;
}

.My-Cv .btn-style .btn span {
    position: absolute;
    left: -140px;
    top: 50%;
    left: -160px;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: 0.4s;
    line-height: 50px;
    /* background-color: #0d0a1f; */
}

.My-Cv .btn-style .btn:hover span {
    left: 0px;
}